@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,600,700,800|Lato:300,400,700,900&amp;display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ol,
ul {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

img {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
img,
a,
span,
input,
form,
.btn,
.navbar,
.navbar-brand {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Lato', sans-serif;
}

.nav-link {
    font-family: 'Dosis', sans-serif;
}

.mt_20 {
    margin-top: 20px;
}

h1 {
    font-size: 55px;
    font-weight: 700;
    color: #ffffff;
}

h2 {
    font-size: 40px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 300;
}

h2 span {
    font-weight: 700;
}

h3 {
    color: #414042;
    font-size: 36px;
    font-weight: 900;
}

h4 {
    color: #414042;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

h5 {
    color: #414042;
    font-size: 20px;
    font-weight: 300;
}

p {
    font-size: 13px;
    font-weight: 400;
    color: #838383;
}

/*--------------------*/
/* menu_part css start */
.menu_part {
    background: rgba(7, 7, 7, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 9999;
}

.menu_part .navbar-brand img {
    padding: 10px 0px;
}

.menu .nav-item .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding: 23px 0px;
    margin: 0px 15px;
    color: #fff;
    font-weight: 700;
    transition: 0.4s;
    position: relative;
}

.menu .nav-item .nav-link::after {
    width: 0;
    height: 2px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s;
    background: #4bcaff;
    opacity: 0;
}

.menu .nav-item.active .nav-link::after,
.menu .nav-item:hover .nav-link::after {
    width: 100%;
    opacity: 1;
}

.menu .nav-item.active .nav-link,
.menu .nav-item:hover .nav-link {
    color: #4bcaff;
}

/* menu_part css end */
/*banner part start*/
.banner_part {
    background: url(../image/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform: scale(1);
    padding: 150px 0px 100px;
}

.banner_hand img {
    width: 580px;
    position: absolute;
    bottom: 0;
    left: -100px;
}

.banner_contant h2 {
    padding-bottom: 20px;
}

.banner_contant p {
    padding-bottom: 30px;
    font-size: 17px;
    font-weight: 300;
    color: #fff;
    line-height: 1.3;
}

.banner_contant a.btn {
    border: 1px solid #fff;
    padding: 15px 50px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    margin: 0px 25px 35px 0px;
    transition: all linear 0.3s;
}

.banner_contant a.btn:hover {
    background: #4bcaff;
    border-color: #4bcaff;
}

.banner_contant h6 {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-top: 20px;
}

.banner_contant ul li {
    float: left;
}

.banner_contant ul li a {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: rgba(18, 23, 28, 0.63);
    font-size: 25px;
    text-align: center;
    padding-top: 5px;
    margin-right: 15px;
}

.banner_contant ul li:hover a {
    color: #4bcaff;
}

.banner_part .carousel-control-next,
.banner_part .carousel-control-prev {
    width: 10%;
    opacity: 1;
}

.banner_part .carousel-control-next i,
.banner_part .carousel-control-prev i {
    color: #ffffff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    padding-top: 13px;
    border: .5px solid #fff;
    transition: all linear 0.3s;
    background: rgba(75, 202, 255, 0.19);
}

.banner_part .carousel-control-next:hover i,
.banner_part .carousel-control-prev:hover i {
    background: #4bcaff;
    border-color: #4bcaff;
}

.carousel-indicators {
    bottom: -75px;
}

.carousel-indicators li {
    height: 15px;
    width: 15px;
    border-top: 0;
    border-bottom: 0;
    border-radius: 50%;
    opacity: 1;
    border: 1px solid #fff;
    background-color: transparent;
}

.carousel-indicators li:hover,
.carousel-indicators li.active {
    background: #4bcaff;
    border-color: #4bcaff;
}

.carousel-item {
    transition: all linear 0.3s;
}

/*banner part end*/
/*common heading start*/
.common_heading {
    padding-bottom: 60px;
}

.common_heading h5 {
    padding-top: 5px;
    font-weight: 500;
}

/*common heading end*/
/*--Features part start---*/
#Features {
    padding: 50px 0px 90px;
    background: #f9f9f9;
    border-bottom: .5px solid #d0d0d0;
}

.Features_item i {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    font-size: 80px;
    background: #4bcaff;
    color: #fff;
    transition: 0.3s;
    border: 4px solid #ededed;
    margin-bottom: 30px;
    padding-top: 30px;
}

.Features_item:hover i {
    background: #414042;
}

.Features_item h4 {
    padding-bottom: 20px;
}

.Features_item p {
    font-weight: 400;
}

/*------Features part end---*/
/*Gallary_part start*/
.Gallary_part {
    padding: 40px 0px 80px;
}

.Gallary_item p {
    padding: 20px 12px 0px;
}

.Gallary_img {
    position: relative;
}

.gly-overly-text {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 18%;
    width: 100%;
    background: #48636f;
    border-radius: 0px 0px 5px 5px;
}

.gly-overly-text h4 {
    padding: 10px 0px;
    color: #4bcaff;
}

.gly-overly {
    position: absolute;
    left: 0;
    top: 0;
    height: 0%;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    background: rgba(89, 165, 197, 0.4);
    opacity: 0;
    transition: 0.3s
}

.gly-overly a {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    transform: translate(-50%, -50%);
}

.Gallary_item:hover .gly-overly {
    height: 82%;
    opacity: 1;
}

/*-----Gallary_part end------*/
/*------Warch part start----*/
.Watch_part {
    background: url(../image/watch-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transform: scale(1);
    padding: 150px 0px;
}

.watch_item a {
    height: 70px;
    width: 90px;
}

.watch_item a i {
    margin: 0px 0px;
    font-size: 70px;
    color: #ffffff;
}

.watch_item h2 {
    padding-top: 30px;
}

.watch_item p {
    padding: 20px 55px 0px;
    color: #fff;
    text-align: left;
    font-size: 15px
}

/*-----Watch part End------*/
/*<!---Price Part Start----->*/
.price_part {
    padding: 65px 0px;
    border-bottom: .5px solid #e2e2e2;
}

.price_item {
    background: #f9f9f9;
    padding: 20px 0px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

.price_item ul li,
.price_item h5 {
    color: #cbcbcb;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 20px;
}

.price_item h6 {
    font-size: 80px;
    color: #ffffff;
    font-weight: 900;
    background: #91c46b;
    padding: 10px 20px
}

.price_item ul li {
    text-transform: capitalize;
    padding: 10px 0px;
}

.price_item ul {
    padding: 20px 0px;
}

.price_item a {
    padding: 16px 50px;
    background: #91c46b;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
}

.price_item2 h6 {
    background: #4bcaff;
}

.price_item2 ul li,
.price_item2 h5 {
    color: #4bcaff;
}

.price_item2 a {
    background: #4bcaff;
}

/*<!---Price Part End----->*/
/* >>>>>>> TESTMONIAL= (START)>>>>> */
.testimonial_part {
    padding: 60px 0px 80px;
    background: #f1f1f1;
}

.testimonial_item p {
    padding: 30px 15px;
    color: #4bcaff;
    font-weight: 600;
    margin-bottom: 40px;
}

.testimonial_item p span {
    float: right;
    color: #0080b5;
    font-weight: 600;
}

.test_slide .slick-dots {
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
}

.test_slide .slick-dots li {
    display: inline-block;
    margin-right: 10px;
}

.test_slide .slick-dots li button {
    font-size: 0px;
    width: 60px;
    height: 7px;
    background-color: rgba(93, 207, 248, 0.25);
    border: none;
}

.test_slide .slick-dots .slick-active button {
    background-color: #00b4de;
}

/* <<<<<<< TESTMONIAL = (END) <<<<<<<< */
/*-Apps part Start--*/
.apps_part {
    padding: 30px 0px;
    background: #414042;
}

.apps_part a {
    padding: 20px 30px;
    background: #4bcaff;
    font-weight: 700;
    color: #fff;
    border-radius: 6px;
    margin-top: 20px;
    box-shadow: 0px 3px #277697;
}

/*-Apps part END--*/
/*----CONTACT part Start---*/
.contact_part {
    background: url(../image/map.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transform: scale(1);
    padding: 110px 0px;
}

.contact_form {
    background: rgba(101, 205, 241, 0.85);
    padding: 25px;
    border-radius: 7px;
}

.contact_form h3 {
    color: #fff;
    font-weight: 500;
    padding-bottom: 15px;
}

.submit_btn {
    background: #414042;
    padding: 15px 75px;
    font-weight: 500;
    border-radius: 7px;
    color: #6fadc5;
    border: none;
    box-shadow: 0px 3px #6a6a6a;
}

.contact_form textarea {
    resize: none;
    height: 100px
}

/*----CONTACT part ENDS---*/
/* >>>>>>> FOOTER = (START) >>>> */
.footer_part {
    background: #1d1d1d;
}

.footer_part h3 {
    font-size: 15px;
    font-family: sans-serif;
    padding: 10px;
    font-weight: 600;
    color: #9f9f9f;
}

.footer_part h3 span {
    color: cornflowerblue;
    text-shadow: 0 0 4px #000000;
}

/* <<<<<<< FOOTER = (END) <<<<<<<< */
............
